.modal {
  max-width: 900px !important;
  height: 400px;
  padding: 24px;
  font-size: 14px;
}

.header {
  display: flex;
  border-bottom: solid black 5px;
  margin-bottom: 8px;
}

.imageContainer {
  margin-right: 16px;
}

.info {
  margin-bottom: 8px;
}

.table {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
  td {
    border: 1px solid black;
    text-align: center;
    // width: 50px;
  }
  th {
    border: 1px solid black;
  }
}
