.textInputContainer {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;

  color: var(--gray-800);

  margin-bottom: 8px;
}

.inputContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 5px;

  background: var(--white);

  border: 1px solid #e4e4e4;
  box-sizing: border-box;
  border-radius: 4px;

  transition: border 0.4s;
}

.inputContainerSuccessful {
  border-color: var(--green-500);
}

.inputContainerFailure {
  border-color: var(--error);
}

.input {
  flex: 1 0;
  min-width: 50px;
  width: 100%;
  min-height: 25px;
  font-size: inherit;
  background-color: transparent;
  padding-left: 5px;
  border: 0;
  &:focus {
    outline: none;
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0;
  width: 24px;
}

.feedback {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  margin-top: 4px;

  transition: color 0.4s;
}

.tipFeedback {
  color: var(--gray-200);
}

.errorFeedback {
  color: var(--error);
}
